<template>
  <nav>
    <h2>Liste des sous-forums</h2>
    <ul>
      <subForum :id="-1" :nodes="forums.nodes" :title="'Racine'" v-on:open-forum="$emit('open-forum', $event)"></subForum>
    </ul>
  </nav>
</template>

<script>
  import SubForum from './SubForum.vue';

  export default {
    name: 'ForumList',
    components: {
      SubForum
    },
    props: {
      backendUrl: ''
    },
    data: function () {
      return {
        forums: {
          id: -1,
          title: 'Racine',
          nodes: []
        }
      }
    }, methods: {
      find_forum: function (root, id) {
        if (id === root.id) {
          return root;
        }

        for (let i = 0; i < root.nodes.length; ++i) {
          let forum = this.find_forum(root.nodes[i], id);
          if (forum !== undefined) {
            return forum;
          }
        }

        return undefined;
      },
      get_forums: function () {
        let requestUrl = this.backendUrl + '/forumList'
        let that = this;

        this.$http.get(requestUrl).then(response => {
          let forums = response.body['root'];
          if (forums == undefined) {
            console.error('Could not parse response:');
            console.error(response);
            return;
          }

          while(forums.length > 0) {
            for (let i = 0; i < forums.length; ++i) {
              let f = that.find_forum(that.forums, forums[i].parent);
              if (f !== undefined) {
                  f.nodes.push({
                    id: forums[i].id,
                    title: forums[i].title,
                    nodes: []
                  })

                  forums.splice(i, 1);
                  break;
              }
            }
          }

        }, response => {
          console.error(response)
        })
      }
    },
    beforeMount: function () {
      this.get_forums()
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  ul {
    padding: 0;
  }
  li {
    margin: 0 10px;
  }
</style>
