<template>
  <nav>
    <h2>Sujets : {{forum.title}}</h2>
    <ul>
      <li v-for="thread in forum.threads" v-bind:key="thread.id"><a href="javascript:void(0);" v-on:click="$emit('open-thread', thread.id)">{{thread.title}}</a></li>
    </ul>
  </nav>
</template>

<script>
  export default {
    props: [
      'forum',
    ],
    name: 'subforum'
  }
</script>

<style scoped>
  ul {
    padding: 0;
  }

  li {
    margin-top: 3px;
    list-style: none;
  }
</style>