<template>
  <tr>
    <td class='message-author'>
      <img :src="prefix(message.author.avatar)" alt="Avatar" /><br />
      {{message.author.name}}
    </td>
    <td class='message-content'>
      <h3>{{message.title}}</h3>
      <div v-html="mark(message.content)"></div>
    </td>
  </tr>
</template>

<script>
  var marked = require('marked');

  export default {
    props: [
      'message',
      'imagesPrefix'
    ],
    name: 'message',
    filters: {
      markFilter: function (v) {
        return marked(v);
      }
    },
    methods: {
      mark: function(v) {
        return marked(v, {
          baseUrl: this.imagesPrefix,
          sanitize: true
        });
      },
      prefix: function(v) {
        if (v.substring(0, 4) == "http")
          return v;
        else
          return this.imagesPrefix + v;
      }
    }
  }
</script>

<style scoped>
  td {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
    overflow: hidden;
  }

  .message-author {
    border-right: 1px solid gray;
    width: 170px;
    text-align: center;
  }

  @media only screen and (max-width: 1000px) {
    .message-author {
      width: 30%;
    }
  }

  @media only screen and (max-width: 800px) {
    td {
      padding: 7px;
    }
  }
</style>