<template>
  <li class="forum-link">
    <a href="javascript:void(0);" v-on:click="$emit('open-forum', id)">{{ title }}</a>
    <ul v-if="nodes != undefined && nodes.length > 0">
      <subforum
        v-for="node in nodes"
        :id="node.id"
        :title="node.title"
        :nodes="node.nodes"
        :key="node.id"
        v-on:open-forum="$emit('open-forum', $event)"
      >
      </subforum>
    </ul>
  </li>
</template>

<script>
  export default {
    props: [
      'id',
      'title',
      'nodes'
    ],
    name: 'subforum'
  }
</script>

<style scoped>
  ul {
    padding-left: 10px;
  }

  a {
    text-decoration: none;
  }
</style>