<template>
  <section>
    <h2>{{thread.title}}</h2>
    <table>
      <message :imagesPrefix="imagesPrefix" v-for="message in thread.messages" :message="message" :key="message.id">
      </message>
    </table>
  </section>
</template>

<script>
  import Message from './Message.vue'

  export default {
    props: [
      'thread',
      'imagesPrefix'
    ],
    components: {
      Message
    },
    name: 'thread'
  }
</script>

<style scoped>
  section {
    width: auto;
    padding: 20px;
  }

  table {
    border-collapse: collapse;
    table-layout:fixed;
    width: 100%;
  }

</style>