<template>
  <div id="app">
    <div class="flex">
      <forumList class="left" v-bind:backendUrl="backendUrl" v-on:open-forum="openForum($event)">
      </forumList>
      <forum class="right" :forum="forum" v-on:open-thread="openThread($event)">
      </forum>
    </div>
    <thread :thread="thread" :imagesPrefix="imagesPrefix">
    </thread>
  </div>
</template>

<script>
import ForumList from './components/ForumList.vue'
import Forum from './components/Forum.vue'
import Thread from './components/Thread.vue'

export default {
  name: 'app',
  components: {
    ForumList,
    Forum,
    Thread
  },
  data: function() {
    return {
      backendUrl: 'http://192.168.1.4:8080',
      imagesPrefix: 'https://azertyfun.github.io/minecurie-static/',
      forum: {},
      thread: {}
    }
  }, methods: {
    openForum: function (id) {
      if (id == -1)
        return;

      let requestUrl = this.backendUrl + '/forum/' + id
      let that = this;

      this.$http.get(requestUrl).then(response => {
        let title = response.body.title;
        if (title === undefined) {
          console.error('Could not parse response:');
          console.error(response);
          return;
        }

        that.forum = response.body;
      }, response => {
        console.error(response);
      })
    },
    openThread: function(id) {
      let requestUrl = this.backendUrl + '/thread/' + id
      let that = this;

      this.$http.get(requestUrl).then(response => {
        let title = response.body.title;
        if (title === undefined) {
          console.error('Could not parse response:');
          console.error(response);
          return;
        }

        that.thread = response.body;
      }, response => {
        console.error(response);
      })
    }
  }
}
</script>

<style>
.flex {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  height: 500px;
}

.left {
  flex: 0 1;
  flex-basis: 30%;

  overflow-y: scroll;
  overflow-x: hidden;
}

.right {
  margin-left: 15px;
  flex: 1;

  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
}

section {
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .flex {
    display: block;
    height: auto;
  }

  .left {
    margin-bottom: 20px;
  }

  .right {
    margin-left: 0;
  }
}

</style>
